<!-- /views/partials/navbar.ejs -->

<% if(currentUser) { %>
	<h3>Logged In: <%= currentUser.username %> <form action="/logout" method="POST"><button>Logout</button></form></h3>
<% } else { %>
	<h3><a href="/login">Login</a> or <a href="/register">Register</a></h3>
<% } %>

<a href="/">Home</a> <a href="/posts">All Posts</a>
<hr>